.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.color-white {
  color: white;
}

.bl-1-lightgray {
  border-left: 1px solid lightgray;
}

.bl-1-gray {
  border-left: 1px solid gray;
}

.br-1-gray {
  border-right: 1px solid gray;
}

.bb-1-gray {
  border-bottom: 1px solid gray;
}

.va-mid {
  vertical-align: middle;
}

.pd-0 {
  padding: 0px 0px 0px 0px;
}

.fa-descr,
.fa-calendar-project,
.fa-crud-project,
.fa-crud-task,
.fa-caret-up-down,
.fa-task-create,
.project-name,
.task-container {
  vertical-align: middle;
}

.btn-add-task {
  color: white;
}

body {
  background-color: lightgreen;
}

.heading {
  margin-bottom: 0;
  font-size: 250%;
  font-weight: bold;
  color: black;
}

.subheading {
  font-size: 150%;
}

.btn-add-todo {
  width: 200px;
  height: 50px;
  background-color: #3c6ebc;
  border: 1px solid #294c66;
  border-radius: 2px;
}

.btn-descr {
  font-size: 120%;
  font-weight: bold;
  color: white;
}

.fa-descr,
.fa-calendar-project {
  color: #294c66;
}

.fa-descr {
  font-size: 250%;
}

.fa-calendar-project {
  font-size: 200%;
}

.fa-crud-project,
.fa-crud-task,
.fa-caret-up-down {
  opacity: 0.7;
  font-size: 150%;
}

.fa-crud-project:hover,
.fa-crud-task:hover,
.fa-caret-up-down:hover {
  opacity: 1;
}

.fa-crud-project {
  color: lightgray;
}

.fa-crud-task {
  color: gray;
}

.fa-caret-up-down {
  font-size: 200%;
}

.fa-task-create {
  font-size: 250%;
  color: #72cc8d;
}

.fa-crud-hidden {
  visibility: hidden;
}

.panel-heading-custom:hover .fa-crud-hidden {
  visibility: visible;
}

.task-container:hover {
  background-color: #f2e8c1;
}

.task-container:hover .fa-crud-hidden {
  visibility: visible;
}

.panel-primary > .panel-heading-custom {
  height: 70px;
  background-color: #3c6ebc;
}

.panel-primary {
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
}

.project-name {
  font-size: 140%;
  font-weight: bold;
}

.panel-task-create {
  background-color: #e5e8e6;
}

.btn-add-task {
  background-color: #72cc8d;
  width: 150px;
}

.form-errors {
  position: absolute;
  color: red;
  font-style: italic;
}

.task-container {
  height: 80px;
}

.task-cbx {
  height: 20px;
  width: 20px;
}

.task-name {
  font-size: 130%;
  font-weight: bold;
}

