.mt-50 {
  margin-top: 50px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.color-white {
  color: white;
}

.bl-1 {
  border-left: 1px solid lightgray;
}

.va-mid {
  vertical-align: middle;
}

.fa-descr,
.fa-calendar-project,
.fa-crud-project,
.fa-task-create,
.project-name {
  vertical-align: middle;
}

.btn-add-task {
  color: white;
}

body {
  background-color: lightgreen;
}

.heading {
  margin-bottom: 0;
  font-size: 250%;
  font-weight: bold;
  color: black;
}

.subheading {
  font-size: 150%;
}

.btn-add-todo {
  width: 200px;
  height: 50px;
  background-color: #3c6ebc;
  border: 1px solid #294c66;
  border-radius: 2px;
}

.btn-descr {
  font-size: 120%;
  font-weight: bold;
  color: white;
}

.fa-descr,
.fa-calendar-project {
  color: #294c66;
}

.fa-descr {
  font-size: 250%;
}

.fa-calendar-project {
  font-size: 200%;
}

.fa-crud-project {
  font-size: 150%;
  color: lightgray;
}

.fa-task-create {
  font-size: 250%;
  color: #72cc8d;
}

.panel-primary > .panel-heading-custom {
  background-color: #3c6ebc;
}

.project-name {
  font-size: 120%;
  font-weight: bold;
}

.panel-task-create {
  background-color: #e5e8e6;
}

.btn-add-task {
  background-color: #72cc8d;
  width: 150px;
}

.form-errors {
  position: absolute;
  color: red;
  font-style: italic;
}

