.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.color-white {
  color: white;
}

.bl-1-lightgray {
  border-left: 1px solid lightgray;
}

.bl-1-gray {
  border-left: 1px solid gray;
}

.br-1-gray {
  border-right: 1px solid gray;
}

.bb-1-gray {
  border-bottom: 1px solid gray;
}

.va-mid {
  vertical-align: middle;
}

.pd-0 {
  padding: 0px 0px 0px 0px;
}
