.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.bl-1-lightgray {
  border-left: 1px solid lightgray;
}

.bl-1-gray {
  border-left: 1px solid gray;
}

.pd-l-0 {
  padding-left: 0px;
}
