@import "_cvariables";
@import "_helpers";

%va-middle {
  vertical-align: middle;
}

%color-white {
  color: white;
}

body {
  background-color: lightgreen;
}

.heading {
  margin-bottom: 0;
  font-size: 250%;
  font-weight: bold;
  color: black;
}

.subheading {
  font-size: 150%;
}

.btn-add-todo {
  width: 200px;
  height: 50px;
  background-color: $custom_bgc;
  border: 1px solid $fa_color;
  border-radius: 2px;
}

.btn-descr {
  font-size: 120%;
  font-weight: bold;
  color: white;
}

%fa-style {
  @extend %va-middle;
  color: $fa_color;
}

.fa-descr {
  @extend %fa-style;
  font-size: 250%;
}

.fa-calendar-project {
  @extend %fa-style;
  font-size: 200%;
}

.fa-crud-project {
  @extend %va-middle;
  font-size: 150%;
  color: lightgray;
}

.fa-task-create {
  @extend %va-middle;
  font-size: 250%;
  color: $task_create;
}

.panel-primary > .panel-heading-custom {
  background-color: $custom_bgc;
}

.project-name {
  @extend %va-middle;
  font-size: 120%;
  font-weight: bold;
}

.panel-task-create {
  background-color: #e5e8e6;
}

.btn-add-task {
  @extend %color-white;
  background-color: $task_create;
  width: 150px;
}

.form-errors {
  position: absolute;
  color: red;
  font-style: italic;
}



























.f {

}
